!!!
%html
  %head
    %title BootMagz : Magazine Style Theme built with Bootstrap
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}

    = stylesheet_link_tag "layout/base/bootstrap", "layout/base/bootmagz"

    = javascript_include_tag "libs/jquery/jquery", "twitter/bootstrap"
  %body
    = bootstrap_flash
    = yield
    .container.main
      .row
        .top-menu
          .span6
            %ul.nav.nav-pills.pull-left
              %li
                %a{:href => "index.html"} Home
              %li
                %a{:href => "page.html"} Page
              %li
                %a{:href => "blog.html"} Blog
              %li
                %a{:href => "galleries.html"} Galleries
              %li
                %a{:href => "contact.html"} Contact
          .span6.socmed-box
            %ul.social_media.pull-right
              %li
                %a.twitter{:href => '#', :title => "Twitter"}
              %li
                %a.facebook{:href => '#', :title => "Facebook"}
              %li
                %a.gplus{:href => '#', :title => "Google Plus"}
              %li
                %a.rss{:href => '#', :title => "RSS"}
      .row
        .span12.header
          .span4.logo
            %a{:href => "index.html"}
            %h1.logo-title BootMagz
            %span.slogan Bootstrap Magazine Style Theme
          .span8.ads-top.pull-right
            %a{:href => '#'}
              %img.pull-right{:alt => "", :src => "http://placehold.it/468x60"}
      %br

      .row
        .span12
          .navbar
            .navbar-inner
              .container
                %ul.nav
                  %li.active
                    %a{:href => "index.html"} Home
                  %li
                    %a{:href => "category.html"} World
                  %li
                    %a{:href => "category.html"} Technology
                  %li
                    %a{:href => "category.html"} Sports
                  %li
                    %a{:href => "category.html"} Politics
                  %li
                    %a{:href => "category.html"} Opinion
                  %li
                    %a{:href => "category.html"} Health
                  %li
                    %a{:href => "category.html"} Business
                  %li
                    %a{:href => "category.html"} Movies
                  %li.dropdown
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => '#'}
                      Drop Menu
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => '#'} Menu 1
                      %li.divider
                      %li
                        %a{:href => '#'} Menu 2
                      %li.divider
                      %li
                        %a{:href => '#'} Menu 3
      / End Main Navigation

      %footer#footer
        .row
          .span3.about
            %h4 About Us
            %br
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.

            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
          .span3.latest-tweets
            %h4 Latest Tweets
            %br
            .item-tweet
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              %a{:href => '#'} http://t.co/xie8fDjd
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              %br
              %span.tweet-date about 7 hours ago
            .item-tweet
              Security Release available for download now -
              %a{:href => '#'} http://t.co/xie8fDjd
              %br
              %span.tweet-date about 7 hours ago
            .item-tweet
              Lorem ipsum dolor sit amet,
              %a{:href => '#'} http://t.co/xie8fDjd
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              %br
              %span.tweet-date about 7 hours ago
          .span3.footer-photos
            %h4 Random Photos
            %br
            %ul.thumbnails
              %li.span1
                %a{:href => "galleries.html"}
                  %img{:alt => "", :src => "/assets/layout/base/70x70-1.jpg"}
              %li.span1
                %a{:href => "galleries.html"}
                  %img{:alt => "", :src => "/assets/layout/base/70x70-1.jpg"}
              %li.span1
                %a{:href => "galleries.html"}
                  %img{:alt => "", :src => "/assets/layout/base/70x70-1.jpg"}
              %li.span1
                %a{:href => "galleries.html"}
                  %img{:alt => "", :src => "/assets/layout/base/70x70-1.jpg"}
              %li.span1
                %a{:href => "galleries.html"}
                  %img{:alt => "", :src => "/assets/layout/base/70x70-1.jpg"}
              %li.span1
                %a{:href => "galleries.html"}
                  %img{:alt => "", :src => "/assets/layout/base/70x70-1.jpg"}
          .span3.contact
            %h4 Contact Info
            %br
            %h1 BootMagz
            %p
              123 Make Believe Drive
              %br
              Some City, P.O 54990, Country
              %br
              T: +00 1234 5678
            %iframe{:frameborder => "0", :height => "170", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=London@51.508129,-0.128005&ie=UTF8&z=12&t=m&iwloc=near&output=embed", :width => "220"}
            %br
          .row
            .span12
              .copyright-box.pull-right
                %h5.copyright © 2012 BootMagz  All right are reserved
                %p.powered-by
                  Powered by :
                  = succeed "," do
                    %a{:href => "http://twitter.github.com/bootstrap/"} Bootstrap
                  developed by
                  %a{:href => "http://gie-art.com"} Gie-Art
    %script{:src => "js/jquery-1.7.2.min.js"}
    %script{:src => "js/bootstrap.js"}
    :javascript
      $(document).ready(function(){
          $('.carousel').carousel({
              interval: 2000
          })
      });
