!!!
%html
  %head
    %title INFOSPOT.edu - Najlepsze bezpłatne warsztaty w Krakowie
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}

    = stylesheet_link_tag "layout/base/bootstrap", "layout/base/bootmagz"

    = javascript_include_tag "libs/jquery/jquery", "twitter/bootstrap", 'libs/jquery/jquery-ujs'
    = csrf_meta_tag
  %body
    .container.main
      .row
        .top-menu
          .span6
            %ul.nav.nav-pills.pull-left

          .span6.socmed-box
            %ul.social_media.pull-right
              %li
                %a.twitter{:href => '#', :title => "Twitter"}
              %li
                %a.facebook{:href => '#', :title => "Facebook"}
              %li
                %a.gplus{:href => '#', :title => "Google Plus"}
              %li
                %a.rss{:href => '#', :title => "RSS"}
      .row
        .span12.header
          .span12.logo
            %a{:href => "index.html"}
            %h1.logo-title INFOSPOT
            %span.slogan Dzięki nam Twój rozwój nabierze rozpędu

      %br

      .row
        .span12
          .navbar
            .navbar-inner
              .container
                %ul.nav
                  %li{:class => menu_active?(MainController)}
                    %a{:href => main_path} Strona główna
                  %li
                    %a{:href => "category.html"} Warsztaty
                  %li
                    %a{:href => "category.html"} Miejsca
                  %li
                    %a{:href => "category.html"} Zgłoś pomysł
                  %li
                    %a{:href => "category.html"} Aktualności
                  %li
                    %a{:href => "category.html"} Galeria

                %ul.nav.pull-right
                  - unless current_user
                    %li{:class => menu_active?(Devise::SessionsController)}
                      %a{:href => new_user_session_path} Zaloguj się
                    %li{:class => menu_active?(Devise::RegistrationsController)}
                      %a{:href => new_user_registration_path} Zarejestruj się
                  - else
                    - if current_user.owner?
                      %li{:class => menu_active?(Owner::PlacesController)}
                        %a{:href => owner_places_path} Moje miejsca
                    - if current_user.organizer?
                      %li{:class => menu_active?(Organizer::EventsController)}
                        %a{:href => organizer_events_path} Moje warsztaty

                    %li
                      = link_to 'Wyloguj się', destroy_user_session_path, :method => 'delete'

        .span12
          = bootstrap_flash
          = yield

      %footer#footer
        .row
          .span9.about
            %h4 O nas
            %br
            Infospot jest serwisem, która łączy ludzi szukających możliwości 
            rozwoju z osobami organizującymi warsztaty&nbsp;i&nbsp;z&nbsp;miejscami, w których
            można je przeprowadzić. Jest on tworzony dla i przez użytkowników.
            Jesteśmy&nbsp;przekonani, że siłą tego portalu jest społeczność, która
            dostarcza informacji o najciekawszych i darmowych warsztatach w Krakowie.
          .span3.latest-tweets
            %h4 Kontakt
            %br
            %a{:href => "mailto:kontakt@infospot.edu.pl"}
              kontakt@infospot.edu.pl

    %script{:src => "js/jquery-1.7.2.min.js"}
    %script{:src => "js/bootstrap.js"}
    :javascript
      $(document).ready(function(){
          $('.carousel').carousel({
              interval: 2000
          })
      });
