!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title INFOSPOT.edu - Najlepsze bezpłatne warsztaty w Krakowie
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

    = stylesheet_link_tag "layout/bootstrap", "layout/landing/style"

    = javascript_include_tag "libs/jquery/jquery", "libs/jquery/jquery.easing.1.3", |
      "libs/jquery/jquery.validate", "libs/jquery/jquery.watermark.min",            |
      "libs/jquery/waypoints.min", "libs/jquery/jquery.parallax-1.1.3",             |
      "libs/jquery/theme"
    = csrf_meta_tag
  %body

    .lock-header.hidden-phone
      .container
        .row
          .span4.offset2
            %h4
              Ostro pracujemy.
              %span Polub nas:
          .span4
            %a{:href => '#'}
              = image_tag 'layout/landing/Facebook.png'
            %a{:href => '#'}
              = image_tag 'layout/landing/Twitter.png'
            %a{:href => '#'}
              = image_tag 'layout/landing/Share-This.png'

    .page-wrapper
      .agency-wrap
        .container.page-container.home-container
          .row
            .span12
              .top-nav
                %ul.nav.hidden-phone
                  %li
                    %a.slide-to{:href => "#feature-set", :name => "feature-set"}
                      DOWIEDZ SIĘ WIĘCEJ
                      %i.arrow.arrow-down
                  %li
                    %a{:href => new_user_session_path} ZALOGUJ SIĘ
                  %li
                    %a{:href => main_path} STRONA GŁÓWNA

              .header-main
                %h1
                  INFOSPOT

                %h4 Najlepsze bezpłatne warsztaty w Krakowie

                = form_for User.new, :url => user_registration_path, :html => {:class => 'theme-form sign-up-form', :id => 'subForm'} do |f|
                  = f.text_field :email, :class => 'email required', :id => 'email', :placeholder => ''
                  = f.select :role, named_roles

                  %input{:type => "submit", :value => "DOŁĄCZ!"}


      %a.down-tab.hidden-phone{:href => main_path}
        KLIKNIJ I ZNAJDŹ WARSZTATY
        %i.arrow.arrow-down
      .full-width-features.feature-1#feature-set
        .container
          .row

            .span12
              %h1 Infospot łaczy tych, którzy chcą działać!
              %h2
                Masz pomysł, ale nie masz miejsca?
                %br.hidden-phone/
                Masz miejsce, ale nie masz pomysłu?
                %br.hidden-phone/
                Masz motywację, ale nie masz informacji?

          .row
            .span12
              %hr
              %br
            .span3
              %img{:alt => "", :src => "/assets/layout/landing/feature01.png"}
              %h3 PRZEGLĄDAJ
              %p
                Chciałbyś dowiedzieć się czegoś ciekawego? Poznać fajnych ludzi? Rozwinąć swoje pasje? Po to jesteśmy!
            .span3
              %img{:alt => "", :src => "/assets/layout/landing/feature02.png"}
              %h3 ORGANIZUJ
              %p
                Jeśli chcesz zorganizować warsztaty, ale nie wiesz, gdzie możesz to zrobić? Tutaj znajdziesz bazę najlepszych miejsc w Krakowie.
            .span3
              %img{:alt => "", :src => "/assets/layout/landing/feature03.png"}
              %h3 INFORMUJ
              %p
                Słyszałeś o ciekawych warsztatach? A może pracujesz w domu kultury, jesteś właścicielem klubu? Chciałbyś przyciągnąć do siebie ludzi? Daj znać!
            .span3
              %img{:alt => "", :src => "/assets/layout/landing/feature04.png"}
              %h3 ZGŁOŚ POMYSŁ
              %p
                W jakich warsztatach chciałbyś wziąć udział? Zainspiruj innych!

      .container.call-to-action
        %h1
          NADCHODZIMY!
        %a.scroll-top{:href => new_user_registration_path} DOŁĄCZ DO NAS!
      .end_page
        %img{:alt => "logo", :src => "/assets/layout/landing/beer.png"}

      .footer{:name => "contact"}
        .container.contact-form
          .row
            .span12
              %br
              %br
              %h3 Contact Us
              .map
                %iframe{:frameborder => "0", :height => "250", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?ie=UTF8&q=las+tablas,+madrid&fb=1&hq=las+tablas,&hnear=0xd42287d383766c9:0xad469cc0ed50997d,Madrid,+Espa%C3%B1a&cid=0,0,15011046097507982567&t=m&iwloc=A&ll=40.421889,-3.713523&spn=0.006295,0.006295&output=embed", :width => "100%"}
              %br/
            %form.theme-form{:action => "", :method => "post"}
              .span3
                %input#name-field.required{:name => "namefield", :title => "Name", :type => "text"}
              .span3
                %input#email-field.email.required{:name => "emailfield", :title => "Email", :type => "email"}
              .span3
                %input#phone-field{:name => "phonefield", :title => "Phone", :type => "text"}
              .span3
                %input#company-field{:name => "companyfield", :title => "Company", :type => "text"}
              .span12.comments-textarea
                %textarea#comments-field{:name => "commentsfield", :title => ""}
              .span4.offset4
                %input{:name => "say", :type => "hidden", :value => "hello"}
                %input{:type => "submit", :value => "SUBMIT!"}
        .container
          .copyright
            %a.logo{:href => "index.html"}
              %img{:alt => "logo", :src => "/assets/layout/landing/logo-footer.png"}
            %p
              Utworzono w czasie Media-Labu 2013.
              Copyright 2013
              %br
